<div class="modal-header">
  <h5 class="modal-title" id="verifyPhoneModalLongTitle">Verify phone</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="close"
          (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-phone-verify-content [phone]="phone" [userId]="userId" [verified]="verified"></app-phone-verify-content>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
