<div class="modal-header">
  <h5 class="modal-title" id="phoneDetailLongTitle">Phone detail</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="close"
          (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!loadingSubscription.closed">
  <div class="text-center">
    <div class="spinner-border text-info m-5" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<ng-container *ngIf="loadingSubscription.closed">
  <div class="modal-body">
    <!--  FIXME: Form allows invalid phone number when submitting with enter key  -->
    <form class="row" [formGroup]="phoneEditForm" (keyup.enter)="savePhone(); activeModal.close('Close enter');">
      <div class="col-md-6">
        <label>Format example:<br/>+13065551234</label>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
          <app-control-messages [control]="phoneEditForm.get('phoneNumber')"></app-control-messages>
        </div>
        <div class="form-group">
          <label>Verification status</label>
          <div *ngIf="verified">
            <fa-icon class="fa-check-circle" [icon]="faCheckCircle" size="2x"></fa-icon>
          </div>
          <div *ngIf="!verified">
            <fa-icon class="fa-times-circle" [icon]="faTimesCircle" size="2x"></fa-icon>
          </div>
        </div>
<!--        <div *ngIf="!verified" class="form-group">-->
<!--          <label>Verification Code:</label>-->
<!--          <input type="text" readonly class="form-control" id="verified" formControlName="verified">-->
<!--        </div>-->
      </div>
      <div class="col-md-6">
        <pre>
          {{this.phoneEditForm.value | json}}
        </pre>
      </div>
    </form>
  </div>
</ng-container>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-info" (click)="savePhone(); activeModal.close('Save click');"
          [disabled]="!phoneEditForm.valid">Save</button>
</div>
