<h3>Users</h3>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users;" class="usersRow">
    <td routerLink="/users/{{user.userId}}">{{user.firstName}}</td>
    <td routerLink="/users/{{user.userId}}">{{user.lastName}}</td>
    <td routerLink="/users/{{user.userId}}">{{user.username}}</td>
    <td class="deleteUserCell">
      <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(user)">
        &times;</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-info" routerLink="/users/new">Add</button>
